<html>
<body>
<form action='/register' method="POST">
<input name=name placeholder="name">
<br>
<input name=role placeholder="role">
<input name=username>
<br>
<input name=password>
<br>
<input type=submit>
</form>
</body>
</html>